body {background: rgb(63,94,251);}
body {background: linear-gradient(90deg, rgba(0,243,255,1) 0%, rgba(9,9,121,1) 35%, rgba(255,0,110,1) 100%);}
body 
{
    overflow-y: hidden;
    overflow-x: hidden;
}




#pic1
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background-size: 100% auto;
    height: 33.4%;
    z-index: -2;
}

#pic2
{
    position: absolute;
    top: 0%;
    left: 39.51%;
    width: 21%;
    height: 33.44%;
    z-index: 1;
}

#tile_now
{
    position: absolute;
    top: 39.45%;
    left: 40.55%;
    width: 17.78%;
    height: 33.33%;
    z-index: 9999; 
}

#avatar {
    border-radius: 50%;
    position: absolute;
    top: 17.8%;
    left: 29.5%;
    height: 76.8%;
    width: 40.97%;
  }
  
  #b_solid {
    border: none;
    color: white;
    padding: 22px;
    width: 8.86%;
    text-align: center;
    font-size: 5vw;
    margin: 4px 0px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 13.2%;
    width: 24.7%;
    position: absolute;
    left: 13.8%;
    top: 16.9%;
    z-index: -1;
    box-shadow: -5px -8px rgb(179, 0, 179);
    background-color: #ff66ff;
  }
  #b_solid:hover 
{
    background-color: #ff00ff;
    box-shadow: 0 0px 0px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: -5px -8px -12px;
}
  
  #dot_solid {
    position: absolute;
    left: 13.8%;
    top: 19.9%;
    width: 3.46%;
    height:6.51%;
    -webkit-border-radius:25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
  }



  #b_movable {
    border: none;
    color: white;
    padding: 22px;
    width: 8.86%;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 13.2%;
    width: 24.7%;
    position: absolute;
    left: 7.85%;
    top: 32.8%;
    z-index: -1;
    box-shadow: -5px -4px rgb(179, 0, 179);
    background-color: #ff66ff;
  }
  
  #b_movable:hover {
    background-color: #ff00ff;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: -5px -4px;
  }
  
  #dot_movable {
    position: absolute;
    left: 7.85%;
    top: 35.8%;
    width: 3.46%;
    height:6.51%;
    -webkit-border-radius:25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
  }

  #b_destroyable {
    border: none;
    color: white;
    padding: 22px;
    width: 8.86%;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 13.2%;
    width: 24.7%;
    position: absolute;
    left: 7.15%;
    top: 49.3%;
    z-index: -1;
    box-shadow: -5px 0px rgb(179, 0, 179);
    background-color: #ff66ff;
  }
  
  #b_destroyable:hover {
    background-color: #ff00ff;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: -5px 0px -12px;
  }
  
  #dot_destroyable {
    position: absolute;
    left: 7.15%;
    top: 52.3%;
    width: 3.46%;
    height:6.51%;
    -webkit-border-radius:25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
  }
  
  #b_dangerous {
    border: none;
    color: white;
    padding: 22px;
    width: 8.86%;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 13.2%;
    width: 24.7%;
    position: absolute;
    left: 7.85%;
    top: 65.8%;
    z-index: -1;
    box-shadow: -5px 4px rgb(179, 0, 179);
    background-color: #ff66ff;
  }
  
  #b_dangerous:hover {
    background-color: #ff00ff;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 5px -4px -12px;
  }
  
  #dot_dangerous {
    position: absolute;
    left: 7.85%;
    top: 68.8%;
    width: 3.46%;
    height:6.51%;
    -webkit-border-radius:25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
  }
  
  #b_gettable {
    border: none;
    color: white;
    padding: 22px;
    width: 8.86%;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 13.2%;
    width: 24.7%;
    position: absolute;
    left: 13.8%;
    top: 82.4%;
    z-index: -1;
    box-shadow: -5px 8px rgb(179, 0, 179);
    background-color: #ff66ff;
  }
  
  #b_gettable:hover {
    background-color: #ff00ff;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 5px -8px -12px;
  }
  
  #dot_gettable {
    position: absolute;
    left: 13.8%;
    top: 85.4%;
    width: 3.46%;
    height:6.51%;
    -webkit-border-radius:25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
  }
  
  #b_portal {
    border: none;
    color: white;
    padding: 22px;
    width: 8.86%;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 13.2%;
    width: 24.7%;
    position: absolute;
    left: 60.5%;
    top: 16.9%;
    z-index: -1;
    box-shadow: 5px -8px rgb(179, 0, 179);
    background-color: #ff66ff;
  }
  
  #b_portal:hover {
    background-color: #ff00ff;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: -5px 8px;
  }
  
  #dot_portal {
    position: absolute;
    left: 81.5%;
    top: 19.9%;
    width: 3.46%;
    height:6.51%;
    -webkit-border-radius:25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
  }
  
  #b_usable {
    border: none;
    color: white;
    padding: 22px;
    width: 8.86%;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 13.2%;
    width: 24.7%;
    position: absolute;
    left: 66.6%;
    top: 32.8%;
    z-index: -1;
    box-shadow: 5px -4px rgb(179, 0, 179);
    background-color: #ff66ff;
  }
  
  #b_usable:hover {
    background-color: #ff00ff;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: -5px 4px;
  }
  
  #dot_usable {
    position: absolute;
    left: 87.6%;
    top: 35.8%;
    width: 3.46%;
    height:6.51%;
    -webkit-border-radius:25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
  }
  
  #b_changeable {
    border: none;
    color: white;
    padding: 22px;
    width: 8.86%;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 13.2%;
    width: 24.7%;
    position: absolute;
    left: 67.2%;
    top: 49.3%;
    z-index: -1;
    box-shadow: 5px 0px rgb(179, 0, 179);
    background-color: #ff66ff;
  }
  
  #b_changeable:hover {
    background-color: #ff00ff;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: -5px 0px;
  }
  
  #dot_changeable {
    position: absolute;
    left: 88.2%;
    top: 52.3%;
    width: 3.46%;
    height:6.51%;
    -webkit-border-radius:25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
  }
  
  #b_ui {
    border: none;
    color: white;
    padding: 22px;
    width: 8.86%;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 13.2%;
    width: 24.7%;
    position: absolute;
    left: 66.6%;
    top: 65.8%;
    z-index: -1;
    box-shadow: 5px 4px rgb(179, 0, 179);
    background-color: #ff66ff;
  }
  
  #b_ui:hover {
    background-color: #ff00ff;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 5px 4px;
  }
  
  #dot_ui {
    position: absolute;
    left: 87.6%;
    top: 68.8%;
    width: 3.46%;
    height:6.51%;
    -webkit-border-radius:25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
  }
  
  #b_permeable {
    border: none;
    color: white;
    padding: 22px;
    width: 8.86%;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 13.2%;
    width: 24.7%;
    position: absolute;
    left: 60.5%;
    top: 82.4%;
    z-index: -1;
    box-shadow: 5px 8px rgb(179, 0, 179);
    background-color: #ff66ff;
  }
  
  #b_permeable:hover {
    background-color: #ff00ff;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 5px 8px;
  }
  
  #dot_permeable {
    position: absolute;
    left: 81.5%;
    top: 85.4%;
    width: 3.46%;
    height:6.51%;
    -webkit-border-radius:25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
  }
  #b_save {
    border: none;
    color: white;
    padding: 22px;
    width: 8.86%;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 13.2%;
    width: 8.31%;
    position: absolute;
    left: 40.5%;
    top: 74.2%;
    z-index: 1;
    background-image: linear-gradient(90deg, rgba(131, 58, 180, 1)0%, rgba(253, 29, 29, 1)50%, rgba(252, 176, 69, 1)100%);
    border-radius: 25px;
  }
  
  #b_save:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 5px 5px 12px;
  }
  
  #b_reset {
    border: none;
    color: white;
    padding: 22px;
    width: 8.86%;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 13.2%;
    width: 8.31%;
    position: absolute;
    left: 50.0%;
    top: 74.2%;
    z-index: 1;
    background-image: linear-gradient(90deg, rgba(6, 100, 105, 1)0%, rgba(9, 9, 121, 1)35%, rgba(255, 0, 239, 1)100%);
    border-radius: 25px;
  }
  
  #b_reset:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 5px 5px 12px;
  }
  
  #b_comment {
    border: none;
    color: white;
    padding: 22px;
    width: 8.86%;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 13.2%;
    width: 8.31%;
    position: absolute;
    left: 40.5%;
    top: 23.4%;
    z-index: 2;
    background-image: linear-gradient(90deg, rgba(131, 58, 180, 1)0%, rgba(253, 29, 29, 1)50%, rgba(252, 176, 69, 1)100%);
    border-radius: 25px;
  }
  
  #b_comment:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 5px 5px 12px;
  }
  
  #b_context {
    border: none;
    color: white;
    padding: 22px;
    width: 8.86%;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 13.2%;
    width: 8.31%;
    position: absolute;
    left: 50.0%;
    top: 23.4%;
    z-index: 2;
    background-image: linear-gradient(90deg, rgba(6, 100, 105, 1)0%, rgba(9, 9, 121, 1)35%, rgba(255, 0, 239, 1)100%);
    border-radius: 25px;
  }
#b_context:hover
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 5px 5px 12px;
}


body 
{
	background-color: #71f4f4 !important;
}

* 
{
    transition: all .2s ease;
}

.extra-info 
{
    display: none;
    line-height: 30px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 50px;
}

.info:hover .extra-info 
{
    display: block;
}

.info
{
    font-size: 20px;
    padding-left: 5px;
    width: 20px;
    border-radius: 15px;
    position: absolute;
    top: 1100%;
    left: 58.75%;
    z-index:2;
}

.info:hover {
    background-color: white;
    padding: 0 0 0 5px;
    width: 31.1%;
    height: 2000.0%;
    text-align: left !important
}


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover 
  {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn 
  {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  .instr 
  {
    height: 100%; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-y: hidden;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  
  .instr .closebtn_i 
  {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .instr .h2
  {
    font-size: 99;
  }


  .dr_container
  {
      position:absolute;
      top: 80px;
      left: 330px;
      z-index:10000;
  }

  .button_close
  {
    position:absolute;
    top: 0px;
    left: 720px;
    z-index:10000; 
  }




  