/* @import url(https://fonts.googleapis.com/css?family=Mr+Dafoe); */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
/* @import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton); */

#body
{
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 62.5%;
}

#bkg
{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: -1000;
}

#screenshot_preview 
{
    position: absolute;
    left: 4.65%;
    top: 27.2%;
    height: 45.9%;
    width: 27.9%;
}

#myCanvas
{
    position: absolute;
    left: 4.65%;
    top: 27.2%;
    height: 45.9%;
    width: 27.9%;
}


#texture
{
    position: absolute;
    left:34.300000%;
    top:27.200000%;
    height:19.100000%;
    width:10.200000%;
}

#drawer
{
    position: absolute;
    left: 67.7%;
    top: 27.3%;
    height: 45.25%;
    width: 27.7%;
}

#myCanvas_drawing
{
    position: absolute;
    left: 67.7%;
    top: 27.3%;
    height: 45.25%;
    width: 27.7%;
}

#square_btn 
{
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    font-size: 3vw;
    font-family: "Lucida Grande";
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: white;
    display: inline-block;
    border: 4px solid #3e65b3;
    border-radius: 0.1em;
    background-image: linear-gradient(#62a6ed, #4b78d6); 
    position: absolute;
    top:27.300000%;
    left:50.800000%;
    height:45.700000%;
    width:15.300000%;
}

#square_btn:hover 
{
    background-image: linear-gradient(rgb(26,175,238), rgb(4,132,217)); 
}


/*#tiles_count
{
    cursor: pointer;
    pointer-events: none;
    margin: 0 auto;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    font-size: 3vw;
    font-family: "Lucida Grande";
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: white;
    display: inline-block;
    border: 4px solid #3e65b3;
    border-radius: 0.38em;
    background-image: linear-gradient(#62a6ed, #4b78d6); 
    position: absolute;
    left:34.200000%;
    top:50.500000%;
    height:9.100000%;
    width:15.300000%;
}

#tiles_count:hover
{
    background-image: linear-gradient(rgb(26,175,238), rgb(4,132,217)); 
}*/

#button_comment
{
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    font-size: 2.5vw;
    font-family: "Lucida Grande";
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: white;
    display: inline-block;
    border: 4px solid #3e65b3;
    border-radius: 0.38em;
    background-image: linear-gradient(#62a6ed, #4b78d6); 
    position: absolute;
    top: 86.7%;
    left: 27.2%;
    height: 9.11%;
    width: 20.8%;
}

#button_comment:hover
{
    background-image: linear-gradient(rgb(26,175,238), rgb(4,132,217)); 
}

/*#button_draw
{
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    font-size: 3vw;
    font-family: "Lucida Grande";
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: white;
    display: inline-block;
    border: 4px solid #3e65b3;
    border-radius: 0.38em;
    background-image: linear-gradient(#62a6ed, #4b78d6); 
    position: absolute;
    top:64.100000%;
    left:34.000000%;
    height:9.100000%;
    width:15.300000%;
}

#button_draw:hover
{
    background-image: linear-gradient(rgb(26,175,238), rgb(4,132,217)); 
}
*/
  .multi-button 
  {
    filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45));
    position: absolute;
    top:64.100000%;
    left:34.000000%;
  }
  .multi-button input
  {
    outline:none;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    height:9.1vh;
    width:8.15vw;
    font-size:2.5vh;
    font-family: "Lucida Grande";
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: white;
    display: inline-block;
    border: 4px solid #3e65b3;
    border-radius: 0.38em;
    background-image: linear-gradient(#62a6ed, #4b78d6); 
    margin: -5px; 
  }
  .multi-button :nth-child(1)
  { 
    border-radius: 20px 0 0 20px;
  }
  .multi-button :nth-child(2)
  {
    border-radius: 0 20px 20px 0;
  }
  input:hover
  {
    cursor: pointer;
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
  }
  input:active
  {
    filter: none;
    transform: scale(.95);
  }
.btn.active, .btn:active 
{
    background-image: linear-gradient(rgb(16,135,218), rgb(4,122,207)); 
}

/*
___________________
*/
  .multi-button2
  {
    filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45));
    position: absolute;
    left:34.000000%;
    top:50.500000%;
  }
  .multi-button2 input
  {
    outline:none;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    height:9.1vh;
    width:8.15vw;
    font-size:2.5vh;
    font-family: "Lucida Grande";
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: white;
    display: inline-block;
    border: 4px solid #3e65b3;
    border-radius: 0.38em;
    background-image: linear-gradient(#62a6ed, #4b78d6); 
    margin: -5px; 
  }
  .multi-button2 :nth-child(1)
  { 
    border-radius: 20px 0 0 20px;
  }
  .multi-button2 :nth-child(2)
  {
    border-radius: 0 20px 20px 0;
  }
  input:hover
  {
    cursor: pointer;
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
  }
  input:active
  {
    filter: none;
    transform: scale(.95);
    background-image: linear-gradient(rgb(16,135,218), rgb(4,122,207)); 
  } 



  .multi-button3 
  {
    filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45));
    position: absolute;
    position: absolute;
    top:27.300000%;
    left:50.800000%;
    
  }
  .multi-button3 input
  {
    outline:none;
    text-align: center;
    display:table-cell;
    height:5.1vh;
    width:15.30vw;
    font-size:2.5vh;
    font-family: "Lucida Grande";
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: white;
    display: block;
    border: 4px solid #3e65b3;
    
    background-image: linear-gradient(#62a6ed, #4b78d6); 
    margin: -5px; 
  }
  .multi-button3 :nth-child(1)
  { 
    border-radius: 20px 20px 0 0px;
  }
  .multi-button3 :nth-child(10)
  {
    border-radius: 0 0 20px 20px;
  }
  input:hover
  {
    cursor: pointer;
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
  }
  input:active
  {
    filter: none;
    transform: scale(.95);
  }
.btn1.active, .btn1:active 
{
    background-image: linear-gradient(rgb(16,135,218), rgb(4,122,207)); 
} 
/*#button_square
{
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    font-size: 2.5vw;
    font-family: "Lucida Grande";
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: white;
    display: inline-block;
    border: 4px solid #3e65b3;
    border-radius: 0.38em;
    background-image: linear-gradient(#62a6ed, #4b78d6); 
    position: absolute;
    top: 86.7%;
    left: 49.9%;
    height: 9.11%;
    width: 20.8%;
}
#button_square:focus 
{     
    background-image: linear-gradient(rgb(26,175,238), rgb(4,132,217));   
}

#button_square:hover
{
    background-image: linear-gradient(rgb(26,175,238), rgb(4,132,217)); 
}
*/
#tiles
{
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  display:table-cell;
  vertical-align: middle;
  font-size: 1vw;
  font-family: "Lucida Grande";
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: white;
  display: inline-block;
  border: 4px solid #3e65b3;
  border-radius: 0.1em;
  background-image: linear-gradient(#62a6ed, #4b78d6); 
  position: absolute;
  top:27.300000%;
  left:44.9%;
  height:4.6%;
  width:5.300000%;
}


#button_done
{
    outline:none;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    font-size:4.5vh;
    font-family: "Lucida Grande";
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: white;
    display: inline-block;
    border: 4px solid #0d6341;
    border-radius: 0.38em;
    background-image: linear-gradient(#34cd26, #1cbd7d); 
    position: absolute;
    top: 75.5%;
    left: 74.5%;
    height: 9.11%;
    width: 20.8%;
}

#button_done:hover
{
    background-image: linear-gradient(#38db29, #21d78f); 
}

#button_reset
{
    outline:none;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    font-size:4.5vh;
    font-family: "Lucida Grande";
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: white;
    display: inline-block;
    border: 4px solid #950d0d;
    border-radius: 0.38em;
    background-image: linear-gradient(#f02525, #ab0909); 
    position: absolute;
    top: 86.7%;
    left: 74.5%;
    height: 9.11%;
    width: 20.8%;
}

#button_reset:hover
{
    background-image: linear-gradient(#ff2929, #c71818); 
}



.grid
{
    display: grid;
    height: 798px;
    width: 808px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 20px;
}



#name_big
{
    position: relative;
    top: -716px;
    left: 80px;
    color: #605833; font-family: Georgia, arial, serif;
}

.button_close
{
    position: absolute;
    top: -25px;
    left: 450px;
    color: #605833; font-family: Georgia, arial, serif;
}

.name_af
{
    position: absolute;
    top: 229px;
    left: 80px;
    color: #605833; font-family: Georgia, arial, serif;
}



/* #screen_preview {
    left: 900px;
    top: 140px;
    position: absolute;

} */



#instructions
{
    font-family: Georgia, arial, serif; font-size: 16px;
    /* position: absolute;
    left: 1200px;
    top: 286px; */
}

#instructions_e
{
    color: #605833; font-family: Georgia, arial, serif;
    /* position: absolute;
    left: 1200px;
    top: 330px; */
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* #buttons
{
    position: absolute;
    left: 900px;
    top: 409px;
}

#grid_buttons
{
    position: absolute;
    left: 900px;
    top: 485px;
}

#grid_controls
{
    position: absolute;
    left: 900px;
    top: 561px;
} */

#b_save
{
    border: none;
    color: white;
    padding: 22px;
    width:128px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_save:hover {opacity: 1}

#b_reset
{
    border: none;
    color: white;
    padding: 22px;
    width:128px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_reset:hover {opacity: 1}

#b_grid
{
    border: none;
    color: white;
    padding: 22px;
    width:128px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_grid:hover {opacity: 1}

#b_grid_save
{
    border: none;
    color: white;
    padding: 22px;
    padding-left: 16px;
    width:128px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_grid_save:hover {opacity: 1}

#b_grid_reset
{
    border: none;
    color: white;
    padding: 22px;
    padding-left: 10px;
    width:128px;
    text-align: right;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_grid_reset:hover {opacity: 1}


#b_grid_up
{
    border: none;
    color: white;
    padding: 22px;
    width:128px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_grid_up:hover {opacity: 1}



#b_grid_left
{
    border: none;
    color: white;
    padding: 22px;
    width:128px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_grid_left:hover {opacity: 1}

#b_grid_right
{
    border: none;
    color: white;
    padding: 22px;
    width:128px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_grid_right:hover {opacity: 1}

#b_grid_down
{
    border: none;
    color: white;
    padding: 22px;
    width:128px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_grid_down:hover {opacity: 1}


#curr_tiles{
     text-align: center;
     font-size: 18px;
}

.instr 
{
  height: 100%; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-y: hidden;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


.instr .closebtn_i 
{ 
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.instr .h2
{
  font-size: 99;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover 
  {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn 
  {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  textarea {
    outline:none;
    resize:none;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5vh;
    font-family: "Lucida Grande";
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: white;
    display: inline-block;
    border: 4px solid rgba(138,138,138, 0.9);
    border-radius: 0.7em;
    background: rgb(208,208,208);
    background: linear-gradient(90deg, rgba(208,208,208,0.7) 0%, rgba(134,134,134,0.8) 100%);
    position: absolute;
    left:50.800000%;
    top: 75.5%;
    height:7.8%;
    width:20%;
  }
  
  textarea :hover{
    background-image: linear-gradient(rgb(26,175,238), rgb(4,132,217)); 
  }

  .placeholder
  {
    vertical-align: middle;
  }